<div class="container mt-4">
  <div class="card shadow-sm border-0">

    <!-- HEADER -->
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
      <h5 class="mb-0 fw-semibold">Sub Users</h5>

      <button class="btn btn-primary btn-sm" (click)="addEditData()">
        <i class="bi bi-plus-lg me-1"></i> Add Sub User
      </button>
    </div>

    <!-- SEARCH -->
 <div class="card-body pb-0 mb-2">
  <div class="d-flex justify-content-between align-items-center">

    <!-- LEFT: Back Button -->
    <button
      class="btn btn-outline-secondary btn-sm"
      type="button"
      (click)="goBack()">
      <i class="bi bi-arrow-left me-1"></i> Back
    </button>

    <!-- RIGHT: Search -->
    <input
      type="text"
      class="form-control form-control-sm"
      style="max-width: 240px"
      placeholder="Search username / phone / permission"
      [(ngModel)]="searchText"
    />

  </div>
</div>


    <!-- TABLE -->
    <div class="card-body p-0">

      <!-- SPINNER -->
      <!-- <div class="text-center py-4" *ngIf="showSpinner">
        <mat-spinner diameter="40"></mat-spinner>
      </div> -->

   <div class="table-responsive" *ngIf="listOfData && listOfData.length > 0">
  <table class="table table-hover align-middle mb-0">

    <thead class="table-light">
      <tr>
       <th>CompanyId</th>
        <th>User Name</th>
        <th>Phone</th>
        <th>password</th>
        <th>Permissions</th>
        <th></th>
      
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of filteredList">
         <td class="fw-medium">{{user.companyId }}</td>
        <td class="fw-medium">{{ user.username }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.password }}</td>
        <td>
          <span class="badge bg-info  ">
            {{ user.permissions }}
          </span>
        </td>
        <td>
          <button
        class="btn btn-outline-primary btn-sm"
        (click)="deleteData(user)">
        <i class="bi bi-pencil-square me-1"></i>Delete
      </button>
        </td>
      
      </tr>
    </tbody>

  </table>
</div>

<!-- Optional empty state -->
<div class="text-center py-4 text-muted" *ngIf="listOfData?.length === 0">
  No sub users found
</div>

    </div>
  </div>
</div>
