


<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper" >

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #0d6efde6;">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript:void(0)" >
            <h3 style="color: white;">Soft Data</h3>
            <!-- <div class="containerJB">
           <img src="assets/img/otherlogo.PNG" class="static-logo" alt="Logo"></div> -->
           
            <!-- <div class="sidebar-brand-icon rotate-n-0" style="color: #1397d5">
                <img src="../../../assets/img/madeLogo.PNG" style="height: 30px; width: 40px;border-radius: 50%;">AIA
            </div>
            <div class="sidebar-brand-text" style="color:#1397d5;">  <sup>where truth build trust</sup></div> -->
        </a>
          <!-- Sidebar - Brand -->
          <!-- <a class="sidebar-brand d-flex align-items-center " style="background-color: white;" href="index.html">
              <div class="sidebar-brand-icon rotate-n-0" style="background-color: white;">
                
                  <img src="../../../assets/img/madeLogo.PNG" style="height: 50px;">
              </div>
              <div  >
                
        </div>
              
          </a> -->

        

          <!-- Divider -->
          <hr class="sidebar-divider my-0">


          <!-- Master- Pages Collapse Menu -->
          <li class="nav-item">
              <a class="nav-link collapsed" [style.color]="isDropdownOpen ? 'white' : 'black'"  href="javascript:void(0)" (click)="toggleDropdown()"  data-toggle="collapse" data-target="#collapsePages"
                  aria-expanded="true" aria-controls="collapsePages">
                  
                  <span style="font-family: system-ui;
    font-weight: 600;">📁 Master</span>
              </a>
               

              
              <div id="collapsePages" class="collapse"[class.show]="isDropdownOpen" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                  <div class="bg-white  collapse-inner rounded" style="margin-top: -20px;">
                     <a class="collapse-item" routerLink="./accountMaster" routerLinkActive="active" style="font-family: system-ui;font-weight:500">Account Master</a>
                        <a class="collapse-item" routerLink="./itemMaster" routerLinkActive="active" style="font-family: system-ui;font-weight:500">Item Master</a>
                         <a class="collapse-item" routerLink="./groupMaster" routerLinkActive="active" style="font-family: system-ui;font-weight:500">Group Master</a>
                      <a class="collapse-item"routerLink="./itemGroupMaster" routerLinkActive="active" style="font-family: system-ui;font-weight:500">Item Group Master</a>
                       <a class="collapse-item"routerLink='./taxtable'  routerLinkActive="active" style="font-family: system-ui;font-weight:500">Tax Table Setting</a> 
                  </div>
              </div>
          </li>


             <!-- Master- Pages Collapse Menu -->
          <li class="nav-item" style="margin-top: -20px;">
              <a class="nav-link collapsed"  [style.color]="isDropdownOtherOpen ? 'white' : 'black'"  href="javascript:void(0)" (click)="toggleDropdownAnothrMenu()"  data-toggle="collapse" data-target="#collapsePages"
                  aria-expanded="true" aria-controls="collapsePages">
                  
                  <span style="font-family: system-ui;
    font-weight: 600;">📁 Other Master</span>
              </a>
               

              
              <div id="collapsePages"  class="collapse"[class.show]="isDropdownOtherOpen" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                  <div class="bg-white  collapse-inner rounded" style="margin-top: -20px;">
                     <a class="collapse-item" routerLink="./unitMaster" routerLinkActive="active" style="font-family: system-ui;font-weight:500">Unit Master</a>
                     <a class="collapse-item" routerLink="./registertType" routerLinkActive="active" style="font-family: system-ui;font-weight:500">Register Type </a>
                        <a class="collapse-item" routerLink="./agentMaster"  routerLinkActive="active" style="font-family: system-ui;font-weight:500">Agent Master</a>
                         <a class="collapse-item" routerLink="./categoryMaster" routerLinkActive="active" style="font-family: system-ui;font-weight:500">Category Master</a>
                      <a class="collapse-item"routerLink="./transportMaster" routerLinkActive="active" style="font-family: system-ui;font-weight:500">Transport Master</a>
                       <a class="collapse-item" routerLink='./headingMaster' routerLinkActive="active" style="font-family: system-ui;font-weight:500">Heading Master</a>
                       <a class="collapse-item"routerLink="./gstVat" routerLinkActive="active" style="font-family: system-ui;font-weight:500">GST VAT Master</a>
                       <a class="collapse-item" routerLink='./saleHeading' routerLinkActive="active" style="font-family: system-ui;font-weight:500">Heading For Sale</a>
                        <a class="collapse-item" routerLink='./screen' routerLinkActive="active" style="font-family: system-ui;font-weight:500">Configration</a>
                        <a class="collapse-item" routerLink='./narration' routerLinkActive="active" style="font-family: system-ui;font-weight:500">Narration Master</a>
                     
                     
                      
                    
                  </div>
              </div>
          </li>



             <li class="nav-item" style="margin-top: -20px;">
              <a class="nav-link collapsed"  [style.color]="isTransactionDropdownOpen ? 'white' : 'black'"  href="javascript:void(0)" (click)="toggleTransaction()"  data-toggle="collapse" data-target="#collapsePages"
                  aria-expanded="true" aria-controls="collapsePages">
                  
                  <span style="font-family: system-ui;
    font-weight: 600;">📁 Transaction</span>
              </a>
               

              
              <div id="collapsePages"  class="collapse"[class.show]="isTransactionDropdownOpen" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                  <div class="bg-white  collapse-inner rounded" style="margin-top: -10px;">
                     <a class="collapse-item" routerLink="./sale" routerLinkActive="active" style="font-family: system-ui;font-weight:500">Sale </a>
                      <a class="collapse-item" routerLinkActive="active" style="font-family: system-ui;font-weight:500">Purchase </a>
                       <a class="collapse-item"routerLink="./paymentReceipt"  routerLinkActive="active" style="font-family: system-ui;font-weight:500">Payment/Receipt Voucher </a>
                        
                    
                  </div>
              </div>
          </li>



          <li class="nav-item" style="margin-top: -20px;">
              <a class="nav-link collapsed"   [style.color]="isLedgerTransaction ? 'white' : 'black'"  href="javascript:void(0)" (click)="toggleLadger()"  data-toggle="collapse" data-target="#collapsePages"
                  aria-expanded="true" aria-controls="collapsePages">
                  
                  <span style="font-family: system-ui;
    font-weight: 600;">📁 Ledger</span>
              </a>
               

              
              <div id="collapsePages"  class="collapse"[class.show]="isLedgerTransaction" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                  <div class="bg-white  collapse-inner rounded" style="margin-top: -10px;">
                     <a class="collapse-item" routerLink="./accountNameLedger" routerLinkActive="active" style="font-family: system-ui;font-weight:500">Account Name Wise Ledger </a>
                      <a class="collapse-item" routerLink="./fullLedger"  routerLinkActive="active" style="font-family: system-ui;font-weight:500">Name Wise Ledger(Detailed) </a>
                       <a class="collapse-item" routerLinkActive="active" style="font-family: system-ui;font-weight:500"> City Wise Ledger </a>
                        <a class="collapse-item" routerLinkActive="active" style="font-family: system-ui;font-weight:500">Sale / Purchase A/C Ledger </a>
                       <a class="collapse-item" routerLinkActive="active" style="font-family: system-ui;font-weight:500"> Ledger A/C Monthly Flow </a>
                        
                    
                  </div>
              </div>
          </li>
          




        

         

      
        

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column" >

          <!-- Main Content -->
          <div id="content"  >

              <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light  topbar static-top shadow" style='background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png");' >

                  <!-- Sidebar Toggle (Topbar) -->
                  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" >
                      <i class="fa fa-bars"></i>
                  </button>

               
               

                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto" >

                      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                      <li class="nav-item dropdown no-arrow d-sm-none">
                         
                          <!-- Dropdown - Messages -->
                          
                      </li>

                      <!-- Nav Item - Alerts -->
                      <li class="nav-item dropdown no-arrow mx-1">
                          <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="alertsDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-bell fa-fw"></i>
                              <!-- Counter - Alerts -->
                              <!-- <span class="badge badge-danger badge-counter">3+</span> -->
                          </a>
                          <!-- Dropdown - Alerts -->
                          <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                              aria-labelledby="alertsDropdown">
                              <h6 class="dropdown-header">
                                  Alerts Center
                              </h6>
                              <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                                  <div class="mr-3">
                                      <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                      </div>
                                  </div>
                                  <div>
                                      <div class="small text-gray-500">December 12, 2019</div>
                                      <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                  </div>
                              </a>
                              <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                                  <div class="mr-3">
                                      <div class="icon-circle bg-success">
                                          <i class="fas fa-donate text-white"></i>
                                      </div>
                                  </div>
                                  <div>
                                      <div class="small text-gray-500">December 7, 2019</div>
                                      $290.29 has been deposited into your account!
                                  </div>
                              </a>
                              <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                                  <div class="mr-3">
                                      <div class="icon-circle bg-warning">
                                          <i class="fas fa-exclamation-triangle text-white"></i>
                                      </div>
                                  </div>
                                  <div>
                                      <div class="small text-gray-500">December 2, 2019</div>
                                      Spending Alert: We've noticed unusually high spending for your account.
                                  </div>
                              </a>
                              <a class="dropdown-item text-center small text-gray-500" href="javascript:void(0)">Show All Alerts</a>
                          </div>
                      </li>

                      <!-- Nav Item - Messages -->
                      <li class="nav-item dropdown no-arrow mx-1">
                          <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="messagesDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-envelope fa-fw"></i>
                              <!-- Counter - Messages -->
                              <!-- <span class="badge badge-danger badge-counter">7</span> -->
                          </a>
                          <!-- Dropdown - Messages -->
                          <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                              aria-labelledby="messagesDropdown">
                              <h6 class="dropdown-header">
                                  Message Center
                              </h6>
                              <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                                  <div class="dropdown-list-image mr-3">
                                      <!-- <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                          alt="..."> -->
                                      <div class="status-indicator bg-success"></div>
                                  </div>
                                  <div class="font-weight-bold">
                                      <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                          problem I've been having.</div>
                                      <div class="small text-gray-500">Emily Fowler · 58m</div>
                                  </div>
                              </a>
                              <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                                  <div class="dropdown-list-image mr-3">
                                      <!-- <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                          alt="..."> -->
                                      <div class="status-indicator"></div>
                                  </div>
                                  <div>
                                      <div class="text-truncate">I have the photos that you ordered last month, how
                                          would you like them sent to you?</div>
                                      <div class="small text-gray-500">Jae Chun · 1d</div>
                                  </div>
                              </a>
                              <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                                  <div class="dropdown-list-image mr-3">
                                      <!-- <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                          alt="..."> -->
                                      <div class="status-indicator bg-warning"></div>
                                  </div>
                                  <div>
                                      <div class="text-truncate">Last month's report looks great, I am very happy with
                                          the progress so far, keep up the good work!</div>
                                      <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                  </div>
                              </a>
                              <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                                  <div class="dropdown-list-image mr-3">
                                      
                                      <div class="status-indicator bg-success"></div>
                                  </div>
                                  <div>
                                      <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                          told me that people say this to all dogs, even if they aren't good...</div>
                                      <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                  </div>
                              </a>
                              <a class="dropdown-item text-center small text-gray-500" href="javascript:void(0)">Read More Messages</a>
                          </div>
                      </li>

  <div  class="topbar-divider d-none d-sm-block"></div>

 
  <li *ngIf ="showSaleTeam"  class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle"  id="userDropdown" role="button"(click)="toggleDropdownForName()"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">
            {{userName}}
          </span>
          <img class="img-profile rounded-circle"
              >
      </a>
     
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
      [class.show]="isNameDropdownOpen"
          aria-labelledby="userDropdown">
          <a class="dropdown-item" href="javascript:void(0)"(click)="addAccountDetail($event)">
              
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Account
          </a>
          <a class="dropdown-item" href="javascript:void(0)"routerLink="/mainLayout/account">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
              View List
          </a>
         
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"href="javascript:void(0)" data-toggle="modal" data-target="#logoutModal" (click)="logout()">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
          </a>
      </div>
  </li>


  

  
  <li *ngIf ="!showSaleTeam"  class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle"  id="userDropdown" role="button"(click)="toggleDropdownForName()"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">
            {{userName}}
          </span>
          <img class="img-profile rounded-circle"
              >
      </a>
      
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
      [class.show]="isNameDropdownOpen"
          aria-labelledby="userDropdown">
         
         
          <a class="dropdown-item"href="javascript:void(0)" data-toggle="modal" data-target="#logoutModal" (click)="logout()">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
          </a>
      </div>
  </li>

                     

                  </ul>

              </nav>
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container-fluid">
                <router-outlet></router-outlet>

                 
               </div>
              <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <!-- <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                      <span>MINDSET &copy; IS EVERYTHING</span>
                  </div>
              </div>
          </footer> -->
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  
  <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
              <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" >Logout</a>
              </div>
          </div>
      </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

