
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-sm-6">
<div class="mb-2">
  <input
    type="text"
    class="form-control"
    placeholder="Search sale Heading By ..."
    [(ngModel)]="searchText"
    (input)="applyFilter()"
  />
</div>
    </div>
      <div class="col-sm-6" style="text-align: right;">
<button type="button" class="btn btn-primary btn-m btn-block"(click)="addEditData($event)"> + Sale Heading</button>
    </div>
    
  </div>

<div class="mb-3">
  <button
    *ngFor="let letter of alphabets"
    class="btn btn-sm btn-outline-primary me-1 mb-1"
    (click)="filterByAlphabet(letter)"
  >
    {{ letter }}
  </button>

  <button
    class="btn btn-sm btn-outline-secondary ms-2"
    (click)="resetFilter()"
  >
    All
  </button>
</div>


<div class="table-scroll">
      <table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>#</th>
      <th> Name</th>
      <th>Prefix</th>
      <th> Suffix</th>
      <th>Tax On Sale Type</th>
       <th>Number Start From</th>
       <th>Type</th>
      
      
      <th style="width: 100px;"> </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of listOfData; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.typeOfSale}}</td>
      <td>{{ item.prefix}}</td>
       <td>{{ item.suffix}}</td>
      <td>{{ item.taxOnSaleType}}</td>
       <td>{{ item.numberStartFrom}}</td>
       <td>{{item.permission}}</td>
     
      <td >
           <button 
      class="btn btn-sm btn-primary me-1"
      (click)="addEditData(item)">
      <i class="fas fa-edit"></i> 
    </button>

     <button 
      class="btn btn-sm btn-danger me-1"
      (click)="deleteData(item)">
      <i class="fas fa-trash"></i> 
    </button>
      </td>
    
    </tr>

    <tr *ngIf="listOfData.length === 0">
      <td colspan="4" class="text-center text-muted">
        No data found
      </td>
    </tr>
  </tbody>
</table>
</div>



</div>

