
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-sm-6">
<div class="mb-2">
 <input
  type="text"
  class="form-control"
  placeholder="Search Account By ..."
  [(ngModel)]="searchText"
  (input)="applyFilter()"
  (keydown.enter)="openSelectedAccount()"
/>
</div>
    </div>
      <div class="col-sm-6" style="text-align: right;">
<button type="button" class="btn btn-primary btn-m btn-block"(click)="addEditData($event)"> + Account  MASTER</button>
    </div>
    
  </div>

<div class="mb-3">
  <button
    *ngFor="let letter of alphabets"
    class="btn btn-sm btn-outline-primary me-1 mb-1"
    (click)="filterByAlphabet(letter)"
  >
    {{ letter }}
  </button>

  <button
    class="btn btn-sm btn-outline-secondary ms-2"
    (click)="resetFilter()"
  >
    All
  </button>
</div>


<div class="table-scroll">
      <table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
            <th>#</th>
            <th> Account Name</th>
            <!-- <th>GST</th>
            <th>HSN</th> -->
            <th> Number</th>

           
            <th >GST</th>
             <th > Group</th>
            <th class="text-end">opening Balance</th>

            <th class="text-end">clossing Balance</th>
          

           
           
          

            <th class="text-center" style="width:120px">Action</th>
          </tr>
  </thead>

  <tbody>
   <tr *ngFor="let item of listOfData; let i = index" (click)="addEditData(item)"
   [class.table-primary]="i === selectedRowIndex">

            <td >{{ i + 1 }}</td>

            <td class="fw-medium">
              {{ item.accountName}}
             
            </td>

            <!-- <td>{{ item.gst}}</td>

            <td >{{item.hsn}}</td> -->

            <td >{{item.phone}}</td>
               <td >
              {{ item.gst}}
            </td>

            <td >
              {{item.groupName}}
            </td>

         

           

            <td class="text-end">
              {{item.opBalance | currency:'INR':'symbol':'1.2-2'  }}
              <span class="ms-1 fw-semibold">
    {{ item.openingBalanceType }}
  </span>
            </td>

            <td class="text-end">
              {{item.clsBalance | currency:'INR':'symbol':'1.2-2'  }}
              <span class="ms-1 fw-semibold">{{ item.closingBalanceType }}</span>
            </td>

           

           

            
            <td class="text-center">
              <button
                class="btn btn-sm btn-outline-primary me-1"
                (click)="addEditData(item) ;"
              >
                <i class="fas fa-edit"></i>
              </button>

              <button *ngIf="item.opBalance <= 0 && item.clsBalance <= 0"

                class="btn btn-sm btn-outline-danger"
                (click)="deleteData(item) ; $event.stopPropagation()"
              >
                <i class="fas fa-trash"></i>
              </button>
                <button
    *ngIf="!(item.opBalance <= 0 && item.clsBalance <= 0)"
    class="btn btn-sm btn-outline-danger"
    >
    <i class="fas fa-lock"></i>
  </button>
              
            </td>

          </tr>


    <tr *ngIf="listOfData.length === 0">
      <td colspan="9" class="text-center text-muted">
        No data found
      </td>
    </tr>
  </tbody>
</table>
</div>



</div>

