
<div class="loading-overlay" *ngIf="isLoading">
  <mat-spinner diameter="60"></mat-spinner>
  <p>Loading Invoice...</p>
</div>
<div *ngIf="!isLoading" class="container-fluid" >
 <div
  *ngIf="showAddNewOption"
  class="add-new-overlay"
  (click)="onAddNewOverlayClick()">

  <div
    class="add-new-box"
    (click)="$event.stopPropagation()">

    <h5>Invoice saved successfully</h5>

    <p>
      Press <b>Enter</b> to Add New or click outside to stay on this invoice.
    </p>

    <button
      #addNewButton
      type="button"
      class="btn btn-primary px-4"
      (click)="showAddNewOption = false;isEditMode ? switchToAddMode() : resetForm()"
      (keydown)="onAddNewKeyDown($event)">
      ADD NEW
    </button>

  </div>
</div>
 <mat-dialog-content style="margin-top: -10px;">

  <form [formGroup]="addEditForm"  >

    <!-- ===== HEADER INFO ===== -->
    <div class="row">

      <div class="col-md-2">
        <label class="form-label">Invoice Heading</label>
            <mat-form-field appearance="outline" class="w-100 city-field" >
  <mat-select
   #invoiceHeading
    formControlName="invoiceHeadingInt"
    (keydown.enter)="handleMatSelectEnter(invoiceHeading, 'invoiceHeadingInt')"
     (selectionChange)="focusNextRegd(accountSelect)"
    (change)="onHeadingSelect($event)"(keydown)="onHeadingKeyDown($event)"
   >
 <mat-option [value]="">
    Select Heading
  </mat-option>
    <mat-option *ngFor="let c of listOfSaleHeadingData" [value]="c.id">
   {{ c.typeOfSale }}
    </mat-option>

  </mat-select>
</mat-form-field>
      
         <!-- <select #invoiceHeading class="form-control format" formControlName="invoiceHeadingInt" 
         (keydown.enter)="handleMatSelectEnter(invoiceHeading, 'invoiceHeadingInt')"
         (change)="onHeadingSelect($event)"(keydown)="onHeadingKeyDown($event)"  >
           
             <option value="" disabled selected>Select State</option>
            <option *ngFor="let c of listOfSaleHeadingData" [value]="c.id">
              {{ c.typeOfSale }}
            </option>
          </select> -->
            <small class="text-danger"
            *ngIf="addEditForm.get('invoiceHeadingInt')?.invalid && (submit || addEditForm.get('invoiceHeadingInt')?.touched)">
            Invoice Heading required
          </small>
      </div>

       <div class="col-md-2">
        <label class="form-label">Invoice No</label>
      
       <input type="text" class="form-control format" formControlName="invoiceNo" 
       [readonly]="headingPermission == '1'" 
         tabindex="-1" />
      </div>
        <div class="col-md-2">
        <label class="form-label">Invoice Date</label>
       <input #invoiceDateInput type="text" class="form-control format" formControlName="invoiceDate" (blur)="formatDateInput($event)"   />
      </div>

      <!-- <div class="col-md-3">
  <label class="form-label">Party Name</label>

  <mat-form-field appearance="outline" class="w-100 small-field">

    <input matInput
           type="text"
           placeholder="Search Party Name"
           [formControl]="partySearchControl"
           [matAutocomplete]="auto"
           (focus)="autocomplete.openPanel()" >

    <mat-autocomplete #auto="matAutocomplete"
                      (optionSelected)="onAccountSelect($event)">

      <mat-option *ngFor="let a of filteredAccounts"
                  [value]="a.accountName + ' - ' + a.cityName">

        {{ a.accountName }} - {{ a.cityName }}

      </mat-option>

    </mat-autocomplete>

  </mat-form-field>

  <small class="text-danger"
    *ngIf="addEditForm.get('accountId')?.invalid &&
    (submit || addEditForm.get('accountId')?.touched)">
    Party Name Required
  </small>
</div> -->

    

      <div class="col-md-3">
        <label class="form-label">Party Name</label>
         <mat-form-field appearance="outline" class="w-100 city-field" >
  <!-- <mat-select
   #accountSelect
    formControlName="accountId"
    (keydown.enter)="handleMatSelectEnter(accountSelect, 'accountId')"
     (selectionChange)="focusNextRegd(accountSelect)"
    (change)="onAccountChange($event)"
       (keydown)="onPartyKeyDown($event)"
   >
 <mat-option [value]="">
    Select Heading
  </mat-option>
    <mat-option *ngFor="let a of listOfAllAccount" [value]="a.id">
    {{a.accountName }}- {{a.cityName}}
    </mat-option>

  </mat-select> -->

  <mat-select
    #accountSelect
    formControlName="accountId"
    (openedChange)="onOpened('party', $event)"
    (closed)="onDropdownClosed(accountSelect, 'accountId')"
    (selectionChange)="onAccountChange($event)"
    (keydown)="onPartyKeyDown($event)"
    >

  <mat-option>
    <ngx-mat-select-search
     
      [formControl]="searchCtrl"
      placeholderLabel="Search Party"
      noEntriesFoundLabel="No matching Party"
        (keydown)="onPartySearchKeyDown($event)"
      >
       
    </ngx-mat-select-search>
  </mat-option>

  <mat-option
      *ngFor="let u of filteredLists['party']"
     [value]="u.id">
      <ng-container *ngIf="getHighlightedParts(u.accountName) as p">
  {{ p.before }}
  <span class="highlight-search">{{ p.match }}</span>
  {{ p.after }}
 </ng-container>
    <!-- {{ u.accountName }} - {{u.cityName}} -->
  </mat-option>
</mat-select>  
</mat-form-field>
        
          <!-- <select class="form-control format" formControlName="accountId"  (change)="onAccountChange($event)" #accountSelect 
           (keydown)="onPartyKeyDown($event)"
          (keydown)="onPartyKeyDown($event)"
           >
           
             <option value="" disabled selected>Select Party Name</option>
            <option *ngFor="let a of listOfAllAccount" [value]="a.id">
              {{a.accountName }}- {{a.cityName}}
            </option>
          </select> -->
             <small class="text-danger"
            *ngIf="addEditForm.get('accountId')?.invalid && (submit || addEditForm.get('accountId')?.touched)">
           Party Name
          </small>
      </div>

        <div class="col-md-3">
        <label class="form-label">Ship  To</label>
        
          <select class="form-control format" formControlName="shipTo"  #accountShipTo
  (keydown)="onShipToKeyDown($event)" >
           
               <option [ngValue]="0">Select Ship To</option>
            <option *ngFor="let a of listOfShareTo" [value]="a.id">
              {{a.accountName }}
            </option>
          </select>
          
      </div>
      

      <div class="col-md-3" *ngIf="false">
        <label class="form-label">Claim Date</label>
      <input type="text" class="form-control format" formControlName="claimDate" (blur)="formatDateInput($event)"    />
      </div>
       <div class="col-md-2 mt-1" *ngIf="showTransportManual">
        <label class="form-label">Transport</label>
        
          <select class="form-control format" #slectTransport formControlName="transport"   >
           
                <option [ngValue]="0">Select Transport</option>
            <option *ngFor="let a of listOfTransport" [value]="a.transportId">
              {{a.name }}
            </option>
          </select>
      </div>

        <div class="col-md-2 mt-1" *ngIf="!showTransportManual">
        <label class="form-label">Transport </label>
        
         
          <input type="text" class="form-control format" formControlName="TransportNameManual" />
      </div>
      
      <div class="col-md-2 mt-1">
        <label class="form-label">GR No</label>
        <input type="text" class="form-control format" formControlName="grNo" />
      </div>
      <div class="col-md-2 mt-1">
        <label class="form-label">Gr Date</label>
        <input   type="text" class="form-control format"   
 formControlName="shippingBillNo" (input)="formatDateInput($event)"
  (blur)="validateDateInput($event)"   />
      </div>
       <div class="col-md-2 mt-1">
    <label class="form-label">Vehicle</label>
    <input type="text" class="form-control format" id="shippingBillNo" formControlName="vehicle">
  </div>


     

     

    </div>

<div class="row  compact-details" *ngIf="screenConfig?.showMoreDetailsSale">
  
  
 
 

 

     <div class="col-md-1 ">
    <label class="form-label">Order No</label>
    <input type="text" class="form-control" formControlName="orderNo">
  </div>
    <div class="col-md-1 ">
    <label class="form-label">Dated</label>
    <input type="text" class="form-control" formControlName="dated"  (input)="formatDateInput($event)"
  (blur)="validateDateInput($event)">
  </div>
   <div class="col-md-1">
    <label class="form-label">Pvt. Mark</label>
    <input type="text" class="form-control" formControlName="pvtMark">
  </div>

<div class="col-md-1 ">
    <label class="form-label">Weight</label>
    <input type="text" class="form-control" formControlName="weight">
  </div>

   <div class="col-md-1 ">
    <label class="form-label">Packing No</label>
    <input type="text" class="form-control" formControlName="packingNo">
  </div>
   
  <div class="col-md-1">
    <label class="form-label">Packages</label>
    <input type="text" class="form-control" formControlName="packages">
  </div>
  <div class="col-md-1">
    <label class="form-label">Form No</label>
    <input type="text" class="form-control"  formControlName="formNo">
  </div>
   

  <div class="col-md-1">
    <label class="form-label">Credit Days</label>
    <input type="text" class="form-control" formControlName="creditDays">
  </div>

 

  

  <div class="col-md-1">
    <label class="form-label">Docu. Thru</label>
    <input type="text" class="form-control" formControlName="docuThru">
  </div>

  <div class="col-md-1">
    <label class="form-label">Station</label>
    <input type="text" class="form-control" formControlName="station">
  </div>

  <div class="col-md-1">
    <label class="form-label">RGP No</label>
    <input type="text" class="form-control" formControlName="rgpNo">
  </div>

  

  <div class="col-md-1">
    <label class="form-label">Freight</label>
    <input type="text" class="form-control" formControlName="freight">
  </div>

 

 

 

  <div class="col-md-1 mt-1">
    <label class="form-label">Ecom GSTIN</label>
    <input type="text" class="form-control" formControlName="ecomGSTIN">
  </div>

  <div class="col-md-1 mt-1">
    <label class="form-label">E-Way No</label>
    <input type="text" class="form-control" formControlName="ewayNo">
  </div>

  <div class="col-md-2 mt-1">
    <label class="form-label">Shipping Bill No</label>
    <input type="text" class="form-control" formControlName="shBNo">
  </div>
   <div class="col-md-1 mt-1">
    <label class="form-label">Due Date</label>
    <input type="text" class="form-control" formControlName="dueDate">
  </div>

  <div class="col-md-1 mt-1">
    <label class="form-label">Ship Date</label>
    <input type="text" class="form-control" formControlName="shipDate">
  </div>

  <div class="col-md-2 mt-1">
    <label class="form-label">Ship Part No</label>
    <input type="text" class="form-control" formControlName="shipPartNo">
  </div>

  <div class="col-md-1 mt-1">
    <label class="form-label">Port Loading</label>
    <input type="text" class="form-control" formControlName="portLoading">
  </div>

  <div class="col-md-1 mt-1">
    <label class="form-label">Port Discharge</label>
    <input type="text" class="form-control" formControlName="portDischarge">
  </div>

  <div class="col-md-2 mt-1">
    <label class="form-label">Final Destination</label>
    <input type="text" class="form-control" formControlName="finalDestination">
  </div>


</div>


<!-- Click link -->


    



   


      <!-- ===== SALE INVOICE DETAILS ===== -->
  <div class="">

  <div class="d-flex justify-content-between align-items-center mb-1">
  
  </div>

    <div class="table-responsive custom-table">

    <table class="table table-bordered align-middle mb-0 invoice-table">
      <thead>
        <tr>
          <th class="sticky-col item-column">Item</th>
<th style="width: 90px;" *ngIf="screenConfig?.hsnSale">HSN</th>
    <th >Remarks</th>
          <th *ngIf="screenConfig?.barcodeSale">Barcode</th>
          <!-- <th *ngIf="screenConfig?.remarksSale">Remarks</th> -->
       
          
          <th *ngIf="screenConfig?.artSale">Art</th>
          <th *ngIf="screenConfig?.sizeSale">Size</th>
          <th *ngIf="screenConfig?.colorSale">Color</th>
          <th *ngIf="screenConfig?.pack1Sale">Pack1</th>
          <th *ngIf="screenConfig?.pack2Sale">Pack2</th>

          <th style="width: 90px;">Qty</th>
          <th style="width: 70px;">Unit</th>
          <th style="width: 130px;">Rate</th>

          <th style="width: 130px;" *ngIf="screenConfig?.mRateSale">M.Rate</th>
          <th  style="width: 90px;"*ngIf="screenConfig?.discPercentSale">Disc %</th>
          <th style="width: 120px;" *ngIf="screenConfig?.discountSale">Disc Amt</th>

          <th style="width: 130px;">Taxable Amt</th>
          <th class="item-column2">Account</th>
          <th class="action-column">+</th>
          <th class="action-column">-</th>
        </tr>
      </thead>

      <tbody formArrayName="saleInvoiceDetails">
        <tr
          *ngFor="let detail of saleInvoiceDetails.controls; let i = index"
          [formGroupName]="i"
        >

          <!-- ITEM -->

          
          <td class="sticky-col">
             
            <mat-form-field appearance="outline" class="w-100 city-field" >
  <!-- <mat-select
   #itemSelect
    formControlName="itemId"
   (keydown.enter)="handleMatSelectEnterIndex($event, itemSelect, i)"
    (keydown)="onItemKeyDown($event, i)"
     (blur)="onRowTotalBlur(i)"
    (selectionChange)="onItemChange(i); focusNextRegd(itemSelect)">
 
    <mat-option *ngFor="let it of listOfAllItem"
                      [value]="it.itemId">
    {{ it.itemName }}
    </mat-option>

  </mat-select> -->

  <!-- //New code // -->
   <!-- <mat-select
    #itemSelect
     [id]="'itemSelect' + i"
    formControlName="itemId"
       [panelWidth]="'400px'"
    (openedChange)="onOpened('item', $event)"
    (closed)="onItemClosed(itemSelect, i)"
    (selectionChange)="onItemChange(i)"
    (blur)="onRowTotalBlur(i)"
     (keydown)="onItemKeyDown($event, i, itemSelect)"
   >

  <mat-option>
 <ngx-mat-select-search
    [formControl]="itemSearchCtrls[i]"
    placeholderLabel="Search item"
     (keydown.shift)="removeRowAndFocus(i)"
    noEntriesFoundLabel="No matching item"
    >
</ngx-mat-select-search>

  </mat-option>
  
 
  <mat-option
  
      *ngFor="let u of filteredItems[i]"
     [value]="u.itemId">
     <span   [title]="'Item : ' + u.itemName +
           '\nRate : ' + u.saleRate +
           '\nUnit : ' + u.unitName +
           '\npurchase Rate : ' + u.purchaseRate +
           '\nopening Stock : ' + u.openingStock +
           '\nopening Stock Rate : ' + u.openingStockRate +
           '\nopening Stock Value : ' + u.openingStockValue +
           '\nPrice : ' + (u.salePrice | currency:'USD')">
     
       <ng-container
      *ngIf="getHighlightedPartsItems(u.itemName, itemSearchCtrls[i].value || '') as p">
    {{ p.before }}
    <span class="highlight-search">{{ p.match }}</span>
    {{ p.after }} -{{u.unitName}} -{{u.purchaseRate}}
  </ng-container>
  </span>
  </mat-option>
</mat-select>   -->


<mat-select
  #itemSelect
  [id]="'itemSelect' + i"
  formControlName="itemId"
  [panelWidth]="'600px'"
  (openedChange)="onOpened('item', $event)"
  (closed)="onItemClosed(itemSelect, i)"
  (selectionChange)="onItemChange(i)"
  (blur)="onRowTotalBlur(i)"
  (keydown)="onItemKeyDown($event, i, itemSelect)"
>

  <!-- Selected value: ONLY ITEM NAME -->
  <mat-select-trigger>
    {{ getSelectedItemName(i) }}
  </mat-select-trigger>


  <!-- SEARCH -->
  <mat-option class="item-search-option">
    <ngx-mat-select-search
      [formControl]="itemSearchCtrls[i]"
      placeholderLabel="Search item"
      noEntriesFoundLabel="No matching item"
      (keydown.shift)="removeRowAndFocus(i)"
    >
    </ngx-mat-select-search>
  </mat-option>


  <!-- TABLE HEADER -->
  <div class="item-table-header">
    <div>Item Name</div>
    <div>HSN </div>
    <div  class="text-center">Balance Qty</div>
   
    <div  class="text-center">Sale Rate</div>
    <div  class="text-center">MRP Rate</div>
     <div  class="text-center">Purchase Rate</div>
   
  </div>


  <!-- TABLE ROWS -->
  <mat-option
    *ngFor="let u of filteredItems[i]"
    [value]="u.itemId"
    class="item-option"
      (click)="onItemOptionClick($event, u, i)"
  >

    <div class="item-table-row">

      <div class="item-name" [title]="u.itemName">
        {{ u.itemName }}
      </div>

      <div>
        {{ u.hsn || '-' }}
      </div>
      <div class="text-center">
  {{ u.closingQty != null
      ? (u.closingQty | number: '1.' + (u.decimal || '0') + '-' + (u.decimal || '0'))
      : '-' }}
</div>

     

      <div class="text-center">
        {{ (+u.saleRate || 0) | currency:'INR':'symbol':'1.2-2' }}
      </div>
        <div class="text-center">
        {{ (+u.mrpRate || 0) | currency:'INR':'symbol':'1.2-2' }}
      </div>

     <div  style="text-align: right;">
         
        {{ (+u.lastPurchaseRate || 0) | currency:'INR':'symbol':'1.2-2' }}
      </div>

    </div>

  </mat-option>

</mat-select>
</mat-form-field>    
            <!-- <select class="form-control compact-input"
                    formControlName="itemId"
                    (change)="onItemChange(i)" (keydown)="onItemKeyDown($event, i)" (blur)="onRowTotalBlur(i)">
              <option value="0">Select Item</option>
              <option *ngFor="let it of listOfAllItem"
                      [value]="it.itemId">
                {{ it.itemName }}
              </option>
            </select> -->
<small class="text-danger" *ngIf="isRowInvalid(i,'itemId') && getRowControl(i,'itemId')?.value == 0">
  Item is required
</small>
          </td>
           <td *ngIf="screenConfig?.hsnSale" >
            <input type="text"
                   class="form-control compact-input"
                   formControlName="hsn"  (keydown)="onRemarksLeftArrow($event, i)"   (keydown.shift)="removeRowAndFocus(i)"
 >
          </td>
            <td >
            <input type="text"
                   class="form-control compact-input"
                   formControlName="remarks"  #remarksTooltip="matTooltip"

    [matTooltip]="detail.get('remarks')?.value || ''"
    [matTooltipDisabled]="
      !detail.get('remarks')?.value?.trim()
    "
    matTooltipPosition="above"
    [matTooltipShowDelay]="10"
    [matTooltipHideDelay]="500"

    (input)="showRemarksTooltip(
      remarksTooltip,
      detail.get('remarks')?.value
    )"

    (blur)="remarksTooltip.hide()"

    (keydown)="
      onRemarksLeftArrow($event, i);
      onRemarksKeyDown($event, i)
    "
     >
          </td>

          <!-- DYNAMIC FIELDS -->
          <td *ngIf="screenConfig?.barcodeSale">
            <input type="text"
                   class="form-control compact-input"
                   formControlName="barcode"(keydown.shift)="removeRowAndFocus(i)" >
          </td>

        

         

          <td *ngIf="screenConfig?.artSale">
            <input type="text"
                   class="form-control compact-input"
                   formControlName="artNo"(keydown.shift)="removeRowAndFocus(i)">
          </td>

          <td *ngIf="screenConfig?.sizeSale">
            <input type="text"
                   class="form-control compact-input"
                   formControlName="size">
          </td>

          <td *ngIf="screenConfig?.colorSale">
            <input type="text"
                   class="form-control compact-input"
                   formControlName="color">
          </td>

          <td *ngIf="screenConfig?.pack1Sale">
            <input type="text"
                   class="form-control compact-input"
                   formControlName="pack1">
          </td>

          <td *ngIf="screenConfig?.pack2Sale">
            <input type="text"
                   class="form-control compact-input"
                   formControlName="pack2">
          </td>

          <!-- QTY -->
          <td >
            <input type="number"
                   class="form-control compact-input text-end"
                   formControlName="qty"
                   (focus)="onQtyFocus(i)"
                    (blur)="onQtyBlur(i)" (blur)="onRowTotalBlur(i)" >
          </td>

          <!-- UNIT -->
          <td >
            <select class="form-control compact-input"
                    formControlName="unit" tabindex="-1" (blur)="formatQty(i)" (blur)="onRowTotalBlur(i)" >
              <option value="0">Unit</option>
              <option *ngFor="let u of listOfUnit"
                      [value]="u.id">
                {{ u.unitName }}
              </option>
            </select>
          </td>

          <!-- RATE -->
          <td >
            <input type="number"
                   class="form-control compact-input text-end"  formControlName="rate" 
                   
                (focus)="clearRateZeroOnFocus(i, 'rate')"
  (blur)="restoreZeroOnBlur(i, 'rate')"
                   >
          </td>

          <td *ngIf="screenConfig?.mRateSale">
            <input type="number"
                   class="form-control compact-input text-end"
                   formControlName="mRate">
          </td>

          <td *ngIf="screenConfig?.discPercentSale">
            <input type="number"
                   class="form-control compact-input text-end"
                   formControlName="discPer"
                    (focus)="onNumberFocus(i, 'discPer')"
    (blur)="onNumberBlur(i, 'discPer')">
          </td>

          <td *ngIf="screenConfig?.discountSale">
            <input type="number"
                   class="form-control compact-input text-end"
                   formControlName="discAmt"
                    (focus)="onNumberFocus(i, 'discAmt')"
    (blur)="onNumberBlur(i, 'discAmt')">
          </td>

          <!-- TOTAL -->
            <td>
              <input type="number"
                    class="form-control compact-input2 text-end fw-bold"formControlName="rowTotal" 
                    
                 (focus)="onRowTotalFocus(i)"     (blur)="onRowTotalBlur(i)" (keydown)="onRateKeyDown($event, i)" tabindex="-1">
            </td>

          <!-- TAX -->
          <td>
            <!-- <select class="form-control compact-input2" 
                   #slectTax formControlName="taxableValueId" (change)="onTaxChange(i)" (keydown)="onTaxDown($event,i)">
              <option value="0">Select</option>
              <option *ngFor="let tax of listOfTaxTableData"
                      [value]="tax.id">
                {{ tax.salePurcAccountName }}
              </option>
            </select> -->
            <mat-form-field appearance="outline" class="w-100 city-field">

    <mat-select
      #taxSelect
      formControlName="taxableValueId"
      (openedChange)="onOpened('tax', $event)"
      (selectionChange)="onTaxChange(i)"
      (closed)="onTaxClosed(taxSelect, i)"
      
       >

      <mat-option>
        <ngx-mat-select-search
          [formControl]="taxSearchCtrls[i]"
          placeholderLabel="Search Tax"
          noEntriesFoundLabel="No matching tax"
           >
        </ngx-mat-select-search>
      </mat-option>

      <mat-option
        *ngFor="let tax of filteredTaxes[i]"
        [value]="tax.id">
  <ng-container
      *ngIf="getHighlightedPartsItems(tax.salePurcAccountName, taxSearchCtrls[i].value || '') as p">
    {{ p.before }}
    <span class="highlight-search">{{ p.match }}</span>
    {{ p.after }}
  </ng-container>
        <!-- {{ tax.salePurcAccountName }} -->

      </mat-option>

       <!-- <mat-option
       *ngFor="let tax of listOfTaxTableData"
        [value]="tax.id">

        {{ tax.salePurcAccountName }}

      </mat-option> -->


       

    </mat-select>

  </mat-form-field>
 <small class="text-danger" *ngIf="isRowInvalid(i,'taxableValueId') && getRowControl(i,'taxableValueId')?.value == 0">
  taxableValueId is required
</small>
          </td>

        <td class="action-column">
  <button
    type="button"
  [id]="'addRowBtn' + i"
    class="btn btn-success btn-sm action-btn"
    (click)="handleAddRowClick(i)"
    (keydown)="handleAddRowKeyDown($event, i)"> +
  </button>
</td>
 <td style="display: none;">
     <input type="text" [value]="detail.get('taxTableRowSubTotal')?.value?.toFixed(2) || '0.00'" style="display: none;">

    </td>

<td class="action-column">
  <button

   
    type="button"
    class="btn btn-danger btn-sm action-btn"tabindex="-1"
    (click)="removeInvoiceDetailRow(i)" >
    ×
  </button>
</td>

        </tr>
      </tbody>
     <tfoot >
    <tr>
      <td class="col-item"></td>

      <td *ngIf="screenConfig?.barcodeSale"></td>

      <td *ngIf="screenConfig?.remarksSale"></td>

      <td *ngIf="screenConfig?.hsnSale" class="col-small"></td>

      <td *ngIf="screenConfig?.artSale"></td>

      <td *ngIf="screenConfig?.sizeSale"></td>

      <td *ngIf="screenConfig?.colorSale"></td>

      <td *ngIf="screenConfig?.pack1Sale"></td>

      <td *ngIf="screenConfig?.pack2Sale"></td>

      <td style="text-align: right; font-weight: bold;">
        {{ totalQty }}
      </td>

      <td class="col-small"></td>

      <td></td>

      <td *ngIf="screenConfig?.mRateSale"></td>

      <td *ngIf="screenConfig?.discPercentSale"></td>

      <td *ngIf="screenConfig?.discountSale"></td>

      <td style="text-align: right; font-weight: bold;">
        {{ totalAmount }}
      </td>

      <td colspan="3"></td>
    </tr>
  </tfoot>
      
    </table>

  </div>
</div>

<div class="invoice-summary-section">

  <!-- ================= TAX SUMMARY ================= -->
  <div class="summary-card tax-card">

    <div class="summary-card-header">
      <div class="summary-title">
        <i class="fas fa-percent"></i>
        <span>Tax Summary</span>
      </div>
    </div>

    <div class="summary-card-body">

      <div class="summary-field">
        <label>Central GST</label>
        <input
          type="number"
          class="form-control text-end format readonly-field"
          formControlName="centralGst"
          readonly
          tabindex="-1"
        />
      </div>

      <div class="summary-field">
        <label>Local GST</label>
        <input
          type="number"
          class="form-control text-end format readonly-field"
          formControlName="localGst"
          readonly
          tabindex="-1"
        />
      </div>

      <div class="summary-field">
        <label>TCS</label>
        <input
          type="number"
          class="form-control text-end format readonly-field"
          formControlName="tcs"
          readonly
          tabindex="-1"
        />
      </div>

      <div class="summary-field">
        <label>Swach Bharat</label>
        <input
          type="number"
          class="form-control text-end format readonly-field"
          formControlName="swachBharat"
          readonly
          tabindex="-1"
        />
      </div>

    </div>
  </div>

  
  <!-- ================= BILL DETAILS ================= -->
  <div class="summary-card bill-card" >

    <div class="summary-card-header" *ngIf="screenConfig?.billDetailsSale">
      <div class="summary-title">
        <i class="fas fa-file-invoice"></i>
        <span>Bill Details</span>
      </div>
    </div>

    <div class="summary-card-body bill-grid" *ngIf="screenConfig?.billDetailsSale">

      <div class="summary-field">
        <label>Bill No</label>
        <input
         #billNo
          type="text"
          class="form-control"
           formControlName="billNo"
          placeholder="Bill No",
           (keydown.arrowleft)="focusTaxSelect()"
        />
      </div>

      <div class="summary-field">
        <label>Bill Date</label>
        <input
          type="text"
          class="form-control"
          formControlName="billDate"
          placeholder="Bill Date"
           (input)="formatDateInput($event)"
  (blur)="validateDateInput($event)"
          
        />
      </div>

      <div class="summary-field">
        <label>Bill Amount</label>
        <input
          type="text"
          class="form-control text-end format"
           formControlName="billAmount"
             (focus)="clearZero('billAmount')"
          (blur)="restoreZero('billAmount')"
          placeholder="0.00"
        />
      </div>

      <div class="summary-field">
        <label>Tax Amount</label>
        <input
          type="text"
          class="form-control text-end format"
          (focus)="clearZero('billTaxAmount')"
          (blur)="restoreZero('billTaxAmount')"
           formControlName="billTaxAmount"
          (input)="recalculateSubTotal()"
          placeholder="0.00"
        />
      </div>

      <div class="summary-field">
        <label>Freight</label>
        <input
          type="text"
          class="form-control text-end format"
          (focus)="clearZero('billFreight')"
          (blur)="restoreZero('billFreight')"
           formControlName="billFreight"
            (input)="recalculateSubTotal()"
          placeholder="0.00"
        />
      </div>

      <div class="summary-field">
        <label>Advance</label>
        <input
         #advanceInput
          type="text"
          class="form-control text-end format"
          (focus)="clearZero('advance')"
          (blur)="restoreZero('advance')"
           formControlName="advance"
            (input)="recalculateSubTotal()"
          placeholder="0.00"
        />
      </div>

    </div>
  </div>


  <!-- ================= ADDITIONAL CHARGES ================= -->
  <div class="summary-card charges-card">

    <div class="summary-card-header">
      <div class="summary-title">
        <i class="fas fa-plus-circle"></i>
        <span>Additional Charges</span>
      </div>
    </div>

    <div class="summary-card-body charges-grid">

      <!-- Value -->
      <div class="summary-field">
        <label>Value</label>
        <input
          #valueInput
          type="number"
          class="form-control text-end format"
          formControlName="value"
          (focus)="clearZero('value')"
          (blur)="restoreZero('value')"
          (keydown.enter)="restoreZero('value')"
          (keydown.arrowleft)="goBackFromValue($event)"
        />
      </div>

      <!-- Other Charge -->
      <div
        class="summary-field"
        *ngIf="(addEditForm.get('value')?.value || 0) > 0"
      >
        <label>Other Charge</label>

        <mat-form-field appearance="outline" class="w-100 summary-select">
          <mat-select
            #otherChargeSelect
            formControlName="otherCharge"
            (selectionChange)="onOtherChargeSelected()"
            (closed)="focusValue1()"
            [disabled]="addEditForm.get('value')?.value == 0"
            [attr.tabindex]="getTabIndexBasedOnValue()"
          >

            <mat-option
              *ngFor="let c of otherValueAccount"
              [value]="c.id"
            >
              {{ c.accountName }}
            </mat-option>

          </mat-select>
        </mat-form-field>

        <div
          class="text-danger validation-text"
          *ngIf="
            addEditForm.get('otherCharge')?.touched &&
            addEditForm.get('otherCharge')?.invalid
          "
        >
          Please select
        </div>
      </div>


      <!-- Value 1 -->
      <div class="summary-field">
        <label>Value 1</label>

        <input
          type="number"
          class="form-control text-end format"
          formControlName="value1"
          (focus)="clearZero('value1')"
          (blur)="restoreZero('value1')"
          (keydown.enter)="onValue1Enter()"
        />
      </div>


      <!-- Other Charge 1 -->
      <div
        class="summary-field"
        *ngIf="(addEditForm.get('value1')?.value || 0) > 0"
      >
        <label>Other Charge 1</label>

        <mat-form-field appearance="outline" class="w-100 summary-select">
          <mat-select
            #otherChargeSelect1
            formControlName="otherCharge1"
            (selectionChange)="onOtherCharge1Selected()"
            (keydown.enter)="onOtherCharge1Enter()"
            [disabled]="addEditForm.get('value1')?.value == 0"
            [attr.tabindex]="getTabIndexBasedOnValue1()"
          >

            <mat-option
              *ngFor="let c of otherValueAccount"
              [value]="c.id"
            >
              {{ c.accountName }}
            </mat-option>

          </mat-select>
        </mat-form-field>

        <div
          class="text-danger validation-text"
          *ngIf="
            addEditForm.get('otherCharge1')?.touched &&
            addEditForm.get('otherCharge1')?.invalid
          "
        >
          Please select
        </div>
      </div>

    </div>
  </div>




  <!-- ================= FINAL TOTAL ================= -->
  <div class="summary-card total-card">

    <div class="summary-card-header">
      <div class="summary-title">
        <i class="fas fa-calculator"></i>
        <span>Invoice Total</span>
      </div>
    </div>

    <div class="total-body">

      <div class="total-row">
        <span>Sub Total</span>

        <input
          type="number"
          class="form-control text-end format total-input"
          formControlName="subTotal"
          tabindex="-1"
          readonly
        />
      </div>

      <div class="total-row grand-total">
        <span>Round Total</span>

        <input
          type="number"
          class="form-control text-end format total-input"
          formControlName="roundAndTotal"
          tabindex="-1"
          readonly
        />
      </div>

    </div>

  </div>

</div>





    

    <!-- ===== FORM ACTIONS ===== -->
  

  </form>
 </mat-dialog-content>
<mat-dialog-actions align="end">

  <div class="d-flex flex-wrap justify-content-end gap-2 w-100">
    
    <button class="btn btn-secondary">
      <i class="fas fa-envelope"></i>
    </button>

    <button class="btn btn-secondary" (click)="sendPdfToWhatsApp()">
      <i class="fab fa-whatsapp"></i>
    </button>

    <button class="btn btn-secondary">
      <i class="fas fa-file-excel"></i>
    </button>

    <button
    type="button"
      class="btn btn-secondary"
        id="pdfButton"
      (click)="openPdfModel()"
        (keydown.enter)="openPdfModel()">
      <i class="fa fa-file-pdf-o me-1"></i> PDF
    </button>
      <button
    type="button"
    class="btn btn-success px-4"
    (click)="onSubmit()"
   >
    <i class="fa fa-save me-1"></i> UPDATE
  </button>
      <button
    type="button"
    class="btn btn-secondary px-4"
     (click)="isEditMode ? switchToAddMode() : resetForm()">
    <i class="fa fa-refresh me-1"></i>
  {{ isEditMode ? 'ADD NEW' : 'ADD NEW' }}
  </button>

    <button
      #saveButton
      type="button"
      class="btn btn-success px-4"
        (click)="submitFromButton($event)"
  (keydown.enter)="submitFromButton($event)">
      <i class="fa fa-save me-1"></i> Save
    </button>

    <button
      type="button"
      class="btn btn-danger px-4"
      (click)="closeModel()">
      <i class="fa fa-times me-1"></i> Exit
    </button>

  </div>

  

</mat-dialog-actions>



</div>
