<div class="container-fluid">

  <div class="row mb-3 align-items-center">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Search by Account Name..."
        [(ngModel)]="searchText"
        (input)="applyFilter()"
         (keydown.enter)="openSelectedAccount()"
      />
    </div>




    <div class="col-md-6 text-end">
    <form [formGroup]="permissionForm">
  <mat-slide-toggle formControlName="excludedOrIncluded">
    Include / Exclude
  </mat-slide-toggle>
</form>
     

      <button 
  class="btn btn-primary"
  *ngIf="isExcluded"
  (click)="addEditData()">
  + ADD Exclude
</button>

<button 
  class="btn btn-primary"
  *ngIf="!isExcluded"
  >
  + ADD Include
</button>
      

    </div>
  </div>

    <div class="mb-3">
    <button
      *ngFor="let letter of alphabets"
      class="btn btn-outline-primary btn-sm me-1 mb-1"
      (click)="filterByAlphabet(letter)">
      {{ letter }}
    </button>

    <button class="btn btn-outline-secondary btn-sm ms-2" (click)="resetFilter()">
      Reset
    </button>
  </div>
  <div class="table-scroll">
 <div class="table-responsive">
    <table class="table table-bordered table-hover align-middle">

      <thead class="table-dark">
        <tr>
          <th ></th>
          <th>Part Name</th>
          <th>Invoice Heading</th>
          <th>Invoice No</th>
          <th>Date</th>
          
          <th class="text-end">Total</th>
          <th style="width:120px">Actions</th>
        </tr>
      </thead>

      <tbody>

        <ng-container *ngFor="let row of listOfData ; let i = index" 
       >

          
          <!-- Parent Row -->
          <tr  [class.selected-row]="selectedRowIndex === i" (dblclick)="goToPdf(row)" class="curser">
            <td class="text-center">
              <button
                class="btn btn-sm btn-light"
                
               (click)="row.expanded = !row.expanded">
                <i class="bi" [ngClass]="row.expanded ? 'bi-dash' : 'bi-plus'"></i>
              </button>
            </td>
            <td>{{row.accountName}}</td>
              <td>{{row.typeOfPurchase}}</td>

            

            <td class="btn-light" >{{ row.invoiceNo || '-' }}</td>
            <td>{{ row.invoiceDate | date:'MM-dd-yyyy' }}</td>
           
            <td class="text-end fw-bold">
              <!-- {{ row.subTotal | number:'1.2-2' }} <br/> -->
               {{row.roundAndTotal | number:'1.2-2'}}
            </td>

            <td style="text-align: right;">
              <button
                class="btn btn-sm btn-outline-primary me-1"
                (click)="addEditData(row)">
                <i class="bi bi-pencil"></i>
              </button>

              <button
                class="btn btn-sm btn-outline-danger"
                (click)="deleteData(row)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>

          <!-- Expanded Details -->
          <tr *ngIf="row.expanded">
            <td colspan="7" class="bg-light">

              <table class="table table-sm table-bordered mb-0">
                <thead class="table-secondary">
                  <tr>
                    <th class="text-center">Item</th>
                    <th class="text-end">Qty</th>
                    <th class="text-center">unitName</th>
                    <th class="text-end">Rate</th>
                    <th class="text-end">Taxable Amount</th>
                    <th class="text-center">Account</th>
                    
                    <th class="text-end">Amount</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let d of row.details">
                    <td class="text-center">{{ d.itemName }}</td>
                    <td class="text-end">{{ d.qty }}</td>
                    <td class="text-center">{{d.unitName}}</td>
                    <td class="text-end">{{ d.rate }}</td>
                    <td class="text-end">{{ d.rowTotal }}</td>
                    <td class="text-center">{{ d.salePurcAccountName }}</td>
                    
                    <td class="text-end fw-semibold">
                      {{ d.taxTableRowSubTotal | number:'1.2-2' }}
                    </td>
                   
                  </tr>
                </tbody>
              </table>

            </td>
          </tr>

        </ng-container>

      </tbody>

    </table>
  </div>
  </div>
 

</div>
