<div class="container-fluid">
  <mat-dialog-content>
    <form [formGroup]="addEditForm"  appEnterAsTab>

      <!--Categiry Name-->
      <div class="mb-2">
        <label> Name</label>
        <input
          type="text"
          class="form-control mt-2"
          formControlName="name"
 (keydown)="handleTitleCase($event, 'name')"
        />
      <div class="text-danger mt-1" *ngIf="addEditForm.get('name')?.invalid && (addEditForm.get('name')?.touched || submit)">
     Name is required
  </div>
 
      </div>

      <!--Categiry Type -->
      <div class="mb-2">
        <label>Phone</label>
          <input
          type="text"
          class="form-control mt-2"
          formControlName="phone"
 (keydown)="handleTitleCase($event, 'phone')"
        />
      
       
         <div class="text-danger mt-1" *ngIf="addEditForm.get('phone')?.invalid && (addEditForm.get('phone')?.touched || submit)">
   phone is required
  </div>
      </div>

       <div class="mb-2">
        <label>gstNo Type</label>
          <input
          type="text"
          class="form-control mt-2"
          formControlName="gstNo"
 (keydown)="handleTitleCase($event, 'gstNo')"
        />
      
       
         <div class="text-danger mt-1" *ngIf="addEditForm.get('gstNo')?.invalid && (addEditForm.get('gstNo')?.touched || submit)">
   gstNo is required
  </div>
      </div>

    
    </form>
  </mat-dialog-content>

  <!-- Dialog Actions -->
  <mat-dialog-actions class="mat-mdc-dialog-actions-align-end">
   <button
  type="submit"
  class="btn btn-sm btn-primary me-2"
 
  (click)="onSubmit()"
  style="cursor: pointer;">
  <i class="fas fa-check fa-sm text-white-50"></i>
  {{ isEditMode ? 'Update Transport Master' : 'Add Transport Master' }}
</button>

    <button
      type="button"
      mat-dialog-close
      class="btn btn-sm btn-danger">
      <i class="fas fa-times fa-sm text-white-50"></i> Cancel
    </button>
  </mat-dialog-actions>
</div>
